.app {
  min-height: 100vh;
  background-color: #f7fafc;
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: 16px;
}

/* Điều chỉnh vị trí Toastify cho toàn bộ dự án */
.Toastify__toast-container {
  top: 60px !important; /* Hạ độ cao để không che header */
}